<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Perspect AI | Dashboard</title>
        <meta name="description" content="Online Shopping Portal  - Perspect AI">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Favicon  -->
        <link rel="icon" href="../assets/Navbar/img/favicon.png">
        
        <!-- import links  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/Navbar/css/style.css" >
        <link rel="stylesheet" href="../assets/LandPage/css/product.css" >

    </head>  
<body>
 	<div class="container-fluid px-0">
		<header>
			<div class="shape"></div>

			<!-- Navbar -->
		<nav class="navbar navbar-expand justify-content-between flex-nowrap flex-row navbar-transparent">
        <div class="container">
        <a href="#" class="navbar-brand float-left">
            <h1 class="brand-name">MIKE</h1>
        </a>
        <ul class="nav navbar-nav flex-row float-right">
            <li class="nav-item">
                <a class="nav-link" href="#">
			            <div class="search_box">
				        <input type="text"  placeholder="search">
				        <div class="btn">
					    <img src="../assets/Navbar/img/Web/Search.svg" width="15" height="15" alt="">
				        </div>
			            </div>
                    <img src="../assets/Navbar/img/Mobile/Search.svg" width="20" height="20" alt="" class="search-icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../assets/Navbar/img/Web/Cart.svg" width="30" height="30" alt="" class="web-cart-icon">
                    <img src="../assets/Navbar/img/Mobile/Cart.svg" width="20" height="20" alt="" class="mobile-cart-icon">
                    <span class="notify-badge">0</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../assets/Navbar/img/Web/MenuHamburger.svg" width="30" height="30" alt="" class="web-menuhamburger-icon">
                    <img src="../assets/Navbar/img/Mobile/MenuHamburger.svg" width="20" height="20" alt="" class="mobile-menuhamburger-icon">

                </a>
            </li>
        </ul>
        </div>
        </nav>
			<!-- ./ end of navbar -->
      </header>     
			<div class="container">
				<div class="row">
					<div class="col-md-6 left-side">
						<img src="../assets/LandPage/img/Web/ShoeLarge.png" class="product-limage">
					</div>

					<div class="col-md-6 right-side">						
                            <div class="row">
                             <div class="col-lg-12">
                              <div class="page-header-breadcrumb">
                                 <ul class="breadcrumb-title">
                                    <li><a href="#">Man</a></li>
                                    <li><a href="#">Shoes</a></li>
                                     <li><a href="#" style="color: darkgray">Gray Running Sneakers</a></li>
                                   </ul>
                               </div>
                              </div>
                              <div class="col-lg-12">
                               <h1 class="product-title">Gray Running Sneakers</h1>
                                 </div>
                                <div class="col-lg-12 text-center">
						         <img src="../assets/LandPage/img/Mobile/ShoeSmall.png"
                                 class="product-simage">
					           </div>
                                  <div class="col-lg-12 mb-1">
                                  <div class="user-rating">    
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-o checked"></span>
                                    <span class="votes">18votes</span>
                                  </div>    
                                  </div>         
                                  <div class="col-lg-12">
                                     <div class="product-price mb-3">
                                     <span class="new-price"><i class="fa fa-inr"></i>16,959.99</span>                                   
                                    <span class="old-price text-muted">₹20,069.99</span>
                                     </div>
                                     <p class="product-info">
                                      Neoprene and membrane boots. Rubber insert with lacing over foot and back on heel.
                                      Lining and insole of the membrane   
                                      </p>  
                                    </div>
                                   <div class="col-lg-12 mb-1">
                                   <div class="controls">
                                    <div class="colors">
                                    <h6 style="font-weight:400;font-size: 14px">COLOR</h6>
                                    <div class="product-colors"> 
                                     <div>
                                      <input data-image="black" type="radio" id="black" name="color" value="black" checked>
                                     <label for="black"><span></span></label>
                                    </div>    
                                    <div>
                                      <input data-image="darkgrey" type="radio" id="darkgrey" name="color" value="darkgrey">
                                     <label for="darkgrey"><span></span></label>
                                    </div>
                                        <div>
                                      <input data-image="Maroon" type="radio" id="Maroon" name="color" value="Maroon" >
                                     <label for="Maroon"><span></span></label>
                                    </div>
                                     </div>   
                                   </div>
                                    <div class="size">
                                            <h6 style="font-weight:400;font-size: 14px">SIZE</h6>
                                         <form action="#">
                                             <select name="sizes" id="sizes" style="border: none;width: 60px">
                                               <option value="26">26</option>
                                               <option value="32">32</option>
                                               <option value="38">38</option>
                                               <option value="42">42</option>
                                             </select>
                                         </form>
                                    </div>
                                    <div class="qty">
                                             <h6 style="font-weight: 400;font-size: 14px">QUANTITY</h6>
                                       <div class="qty-incrementer">   
                                         <button id="minus" style="border: none;background: transparent">-</button>
                                         
                                        <span id="value" style="margin:10px;">0</span>
                                         <button id="plus"
                                        style="border: none;background: transparent">+</button>
                                     </div>
                                     </div>
                                     </div>
                                    </div>   
                                    <div class="col-lg-12 mb-2">
                                         <div class="banner-btn-group">
                                          <a href="#" class="btn btn-lg bg-primary mr-3"><img src="../assets/LandPage/img/Web/AddToCart.svg" /><span class="ml-2" style='color: white'>Add to Cart.</span></a>
                                          <a href="#" class="btn btn-lg"><img src="../assets/LandPage/img/Web/Like.svg" /><span class="ml-2">Save to Wishlist</span></a>
                                          </div>
                                        
                                          <div class="mobile-btn-group">
                                          <a href="#" class="btn btn-sm bg-primary mr-3"><img src="../assets/LandPage/img/Mobile/AddToCart.svg" /><span class="ml-2" style="color: white">Add to Cart.</span></a>
                                          <a href="#" class="btn btn-sm"><img src="../assets/LandPage/img/Mobile/Like.svg" /><span class="ml-2">Save to Wishlist</span></a>
                                          </div>
                                    </div>
                                   <div class="col-lg-12">
                                    <p class="notice-info">Standard delivery in 2-4 days or Premium delivery in 2-4 hours</p>
                                    </div>
                            </div>                                          
					</div>
				</div>
			</div>
        <div class="container">
            <ul class="web-social-links">
                <li>
                    <a href="#">
                    <img src="../assets/LandPage/img/Web/Facebook.svg" width="20px"
                         height="15px"/></a></li>
                <li><a href="#">
                    <img src="../assets/LandPage/img/Web/Twitter.svg"/></a>
                </li>
                <li><a href="#">
                    <img src="../assets/LandPage/img/Web/Instagram.svg"/></a></li>
            </ul>
            <ul class="mobile-social-links" style="margin-top: 20px">
                <li>
                    <a href="#">
                    <img src="../assets/LandPage/img/Web/Facebook.svg" width="20px" height="15px"/></a></li>
                <li><a href="#">
                    <img src="../assets/LandPage/img/Web/Twitter.svg"/></a>
                </li>
                <li><a href="#">
                    <img src="../assets/LandPage/img/Web/Instagram.svg"/></a></li>
            </ul>
        </div>
	</div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript">
        $(function(){

    var valueElement = $('#value');
    function incrementValue(e){
        valueElement.text(Math.max(parseInt(valueElement.text()) + e.data.increment, 0));
        return false;
    }

    $('#plus').bind('click', {increment: 1}, incrementValue);

    $('#minus').bind('click', {increment: -1}, incrementValue);

});
    </script>
</body>
</html>
    